table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #2dee0b;
  }
  
  tr:hover {
    background-color: #f20d0d;
  }
  body{
  background: white;
    background-position: center; 
	background-repeat: no-repeat;
	background-size: cover;
  }
  