nav {
    color: rgb(203, 224, 9);
    text-align: end;
    display: flex;
    flex-wrap: wrap;
  }
  nav li{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  
  nav ul {
    list-style: none;
    margin: 2;
    padding: 2;
  }
  

  
  nav a {
    color: #e31212;
    text-decoration-color: blueviolet;
  }
  body {
    background: url(./image/pharma.jpg);
     
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:1000px;
    height: 800px;
  }
  image{
    width: 100%;
    position: absolute;
    top: 30px;
    left: 50px;
  }
  footer{
    padding: 20px;
    text-align: end;
    align-items: end;
    display: flex;
  }
  
  