* {
	marge: 0;
	rembourrage: 0;
	dimensionnement de la boîte: border-box;
}

.récipient {
        afficher: fléchir;
		flex-wrap: envelopper;
      }
     
.former {
        fléchir: 1;
      }
      
navigation {
	Couleur de l'arrière plan: #f2f2f2;
	rembourrage: 10pixels;
}

ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

li {
	margin: 0 10px;
}

a {
	text-decoration:none;
	color: #0f82ca;
	padding: 10px 20px;
	border-radius: 5px;
}

a:hover {
	background-color: #ccc;
}

.form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
	width:100%;
/*	max-width: 350px;*/
}

form {
	background-color: #e2b6b6;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(33, 9, 172, 0.3);
	padding: 15px;
	width: 350px;
}

h2 {
	text-align: center;
	margin-bottom: 20px;
	font-family: Arial, Helvetica, sans-serif;
	text-shadow: 1.5px 1.5px 1.5px #333333;
	color:rgb(180, 213, 15);
	font-style: italic;
	font-weight: 700;
	margin-top: 30px;
	
}

label {
	display: block;
	margin-bottom: 20px;
    text-decoration: #0f82ca;
	color: #0f82ca;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="telephone"]
{
	width: 95%;
	padding: 10px;
	border: 2px solid #ccc;
	border-radius: 3px;
	margin-bottom: 15px;
}

input[type="submit"] {
	background-color: #4CAF50;
	color: #fff;
	border: none;
	padding: 10px;
	border-radius: 3px;
	cursor: pointer;
}
	
.hidden {
	display: none;
}
.password-toggle,
input[type="mdp_utilisateur"] {
    display: inline-block;
}
.password-toggle {
    cursor: context-menu;
    position: absolute;
    

    transform-style: preserve-3d;
}
.input[type="hidden"]{
	background: #e3d50c;
	text-align: center;
}

/*footer{
	background-color: #4CAF50;
	margin-top: 10px;	
	font-style: italic;
	font-weight: 700;  	
}*/

	/*footer div.xx*/

div.xx{
	
	margin-left:80px;
	font-size: 20px;
	color: rgb(56, 18, 209);
	font-family: "Harlow Solid Helvetica", serif;

}

div.footer{
	background-color: #4CAF50;
	margin-top: 10px;	
	font-style: italic;
	font-weight: 700;  
}
	/*footer div.xz*/

  div.xz{
	float:right;
	margin-right: 50px;
	margin-top: -100px;
	font-size: 20px;
	color: rgb(57, 23, 227);
	font-family: "Harlow Solid Helvetica", serif;
	
}


/* div float start */

div.float-start{
	margin-right:200px;
}


	#signature{
		color:#f4540a;
		margin-left: 150px;
		margin-right: 100px;
}

/*style de l'article 1*/

 #art-1 p {
        margin-top: 2px;
        background-color: orange;
       /* color: rgb(148, 151, 148);*/
		color: white;
		/*font-family: Arial, Helvetica, sans-serif;*/
		font-family: "Harlow Solid Helvetica", serif;
		font-size: 18px;
		text-shadow: 3.5px 3.5px 3.5px #333333;
}


/* style de l'article 2 */

	#art-2 p {
		margin-top: auto;
		background-color: rgb(53, 119, 9);
		color: white;
		font-family: "Harlow Solid Helvetica", serif;
		font-size: 18px;
		text-shadow: 4.5px 4.5px 4.5px #333333;
	}


/*style de l'article 3 */

	#art-3 p {
		margin-top: auto;
		background-color: rgb(246, 76, 9);
		color: white;
		font-family: "Harlow Solid Helvetica", serif;
		font-size: 18px;
		text-shadow: 3.5px 3.5px 3.5px #333333;
	}
	#art-1 img{
		width:300px;height:200px;margin:20px;
	}
#art-2 img{
	width:300px;height:200px;margin:20px;
}
#art-3 img{
	width:300px;height:200px;margin:20px;
}

#line p{
	        text-transform: uppercase ;
			text-indent: 0cqmin;
	        color:rgb(76, 13, 223);
			font-family: Arial, Helvetica, sans-serif;
			text-shadow: 1.5px 1.5px 1.5px #333333;
			font-style: italic;
			font-style:bold;
			margin-left :30px;
			font-weight: 1000;
			margin-top: 30px;
}

body{
	background: url('./accueil/web.jpg');
	background-position: center; 
	background-repeat: no-repeat;
	background-size: cover;
}
@media (max-width: 768px) {
	corps {
	  background-size: 80%;
 
	  background-position: center; 
	  background-repeat: no-repeat;
	
	}
  }
  
  @media (max-width: 480px) {
	body {
	  background-size: 50%;
	  
	  background-position: center; 
	  background-repeat: no-repeat;
	
	}
  }
