table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #2dee0b;
  }
  
  tr:hover {
    background-color: #f20d0d;
  }
  body{
  background:url('../accueil/image.webp');
    background-position: center; 
	background-repeat: no-repeat;
	background-size: cover;
  }
  
.voir-liste {
        color: red;
        font-size: 20px;
        font-style: italic;
    }
.conteneur de formulaire{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 10px;
    

 }
form {
      background-color: #8f9b93;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(33, 9, 172, 0.3);
      padding: 20px;
      marge droite :1px;
      width: 300px;
 }  
 saisir[type="text"],
 saisir[type="int"],
 saisir[type="date"] 
{
      width: 200px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
      margin-bottom: 15px;
  }
  saisir[Taper="soumettre"] {
      Plan couleur de l'arrière : #4CAF50;
      couleur : #fff;
      frontière: aucun;
      rembourrage: 10pixels;
      rayon de bordure: 3pixels;
      le curseur: aiguille;
  }

    h2 {
    aligner le texte: centre;
    marge inférieure: 20pixels;
    couleurs:verte;
    le style de police: italique;
  }
  div un{
    couleurs:blanche;
    Plan couleur de l'arrière : #3019C1;
    rembourrage: 5pixels;
  }
 
