body{
    background: url("./pharma.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1000px;
    height: 500px;
  }
  /*.container {
    position: relative;
  }
  */
  html, body {
    height: 100%;
  }
  form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid black;
    background-color: #37c111;
    
  
    box-sizing: border-box;
    height: 50%;
    width: 30%;
/*margin-top: 3cm;*/
    flex-direction: row;
  }
  h1{
    position: fixed;
    font-weight: 500;
    font-style: oblique;
  }
  
 

  .container {
    display: flex;
    justify-content: center; /* aligne horizontalement le contenu */
    align-items: center; /* aligne verticalement le contenu */
  }
 /* form {

    background-color: rgba(255, 255, 255, 0.7);

    border-radius: 10px;

    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);

    margin: auto;

    margin-top: 100px;

    max-width: 400px;

    padding: 20px;

    text-align: center;

  }
  */