* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
        background: url('pharma.jpg');
        background-position: center; 
		background-repeat: no-repeat;
		background-size: cover;
    }
.container {
        display: flex;
      }
     
.form {
        flex: 1;
      }
      
.description {
        flex: 1;
        margin-top: 50px;
        border: 20px;
        text-decoration: #e3d50c;
        color: #181413;
        padding: 10px 20px;
        font: bold 16px Arial, sans-serif;

      }


nav {
	background-color: #f2f2f2;
	padding: 10px;
}

ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

li {
	margin: 0 10px;
}

a {
	text-decoration: #0f82ca;
	color: #0f82ca;
	padding: 10px 20px;
	border-radius: 5px;
}

a:hover {
	background-color: #ccc;
}

.form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}

form {
	background-color: #6c6565;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(33, 9, 172, 0.3);
	padding: 20px;
	width: 400px;
}

h2 {
	text-align: center;
	margin-bottom: 20px;
}

label {
	display: block;
	margin-bottom: 20px;
    text-decoration: #0f82ca;
	color: #0f82ca;
}

input[type="text"],
input[type="password"], 

input[type="telephone"]
{
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 15px;
}

input[type="submit"] {
	background-color: #4CAF50;
	color: #fff;
	border: none;
	padding: 10px;
	border-radius: 3px;
	cursor: pointer;
}
	
.hidden {
	display: none;
}
.password-toggle,
input[type="mdp_utilisateur"] {
    display: inline-block;
}
.password-toggle {
    cursor: context-menu;
    position: absolute;
    

    transform-style: preserve-3d;
}
.input[type="hidden"]{
	background: #e3d50c;
	text-align: center;
}
.captcha{
	width:50%;
	background: #e3d50c;
	text-align: center;
	text-transform: uppercase;
}
footer{
	background-color: #4CAF50;
	color:green;
	font-style: italic;
	font-weight: 700;
	margin-top: 30px;
	margin-bottom: 30px;
	
	
}
#signature{
	color:#f4540a;
	margin-left: 50px;
	margin-right: 20px;
}