table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #2dee0b;
  }
  
  tr:hover {
    background-color: #f20d0d;
  }
  body{
  background: white;
    background-position: center; 
	background-repeat: no-repeat;
	background-size: cover;
  }
  h2 {
    text-align: center;
    margin-bottom: 20px;
	color:green;
	font-style: italic;
  }
  /*
  footer{
    background-color: #4CAF50;
    color:green;
    font-style: italic;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 30px;
    
    
  }
  #signature{
    color:#f4540a;
    margin-left: 50px;
    margin-right: 20px;
  }*/