nav {
    color: rgb(203, 224, 9);
    text-align: start;
    display: flexbox;
    flex-wrap: wrap;
    
  }
  nav li{
  margin-top: auto;
  display: contents;
  width: 80%; /* ou une autre valeur que vous préférez */
  align-items: self-start;
  
}
nav li:hover {
  background-color: yellow;
}
 nav li:active {
  background-color: rgb(23, 20, 177);
}
  nav ul {
    list-style: none;
    margin: 2;
    padding: 2;
  }
  

  
  nav a {
    color: #e31212;
    text-decoration-style: double;
  }
a {
  font-size: 20px; /* La taille de police pour les liens de la navbar */
}

  body {
    background: url("etagere-medicament.webp");
     
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    width:1000px;
    height: 800px;
  }
  image{
    width: 100%;
    position: absolute;
    top: 30px;
    left: 50px;
  }
  footer{
    padding: 100px;
    text-align-last: center;
    align-items: flex-end;
    display: flex;
  }
  

  